<div class="card col-sm-3 " style="width: 18rem; background-color: #e9ecef">
    <img class="" width="100" height="150" src="{image}" title="{title}" alt="black-humor">

    <div class="card-body ">
        <h5 class="card-title"><u>{title}</u></h5>
        <p class="card-text">{author}</p>
<!--        <a href="{{url}}" class="btn btn-primary">Узнать больше</a>-->
    </div>

    <div class="card-footer text-muted" >
        <a href="index.php?page=book&key={url}" class="btn btn-primary">Узнать больше</a>
    </div>
</div>