<div class="jumbotron " style="background-color: rgba(168,171,174,0.99); margin-right: auto;  margin-left: auto; padding-top: 15px; padding-bottom: 5px; margin-top:5px; margin-bottom: 12px; ">
    <img src="{image}" alt="" class="pull-right" width="152" height="220" style="float: left; margin: 10px 10px 5px 0;">
    <p ><em>{description}</em></p>

    <h3  class="display-6"><u><br><b>{title}<br>{author}</b></u></h3>
<!--    <p class="lead"><em>{description}</em></p>-->
    <a class="btn btn-primary" href="" target="_self" role="button" >Купить</a>
</div>